    .App-fondo {
    background-color: #D9D9D9;
  }
  
  .azul {
    background-color: #0071E3;
  }

  .plomo {
    background-color: #797979;
  }

  .gradiantAzul {
    background-image: linear-gradient(45deg, #0071E3, #3498DB);
  /* Dirección del gradiente (de izquierda a derecha) y colores */
  }
  
  .lblanca {
    color: white;
  }
  
  .lnegra {
    color: black
  }
  
  .container-i {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
  }

  .medio {
    top: 50%;
    transform: translateY(-50%);
    }
  .imgUs {
      width: 290px;
      height: 290px;
    }
